.cardBanner {
	top: var(--h-navbar);
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	background-color: rgba(0, 0, 0, 0.9);
}

.cardBanner--show {
	opacity: 1;
	visibility: visible;
}

.banner {
	position: relative;
	max-width: var(--max-w);
	margin: 0 auto;
	height: calc(100% - var(--h-navbar));
}

.banner .icon_left {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 2rem;
	z-index: var(--z-icon-back);
}

.banner .icon_close_banner {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	z-index: var(--z-icon-back);
}

.banner__info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		0deg,
		var(--primary-100) 0%,
		rgba(0, 0, 0, 0.8) 100%
	);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	gap: 1rem;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

.banner__info--show {
	opacity: 1;
	visibility: visible;
}

.banner__info__video {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner__info__video video {
	width: 100%;
	height: 100%;
}

.banner__info__title {
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
}

.banner__info__description {
	font-size: 1.5rem;
}

.banner__info__price {
	font-size: 1.5rem;
}

.banner__info__price--desc {
	font-size: 1.5rem;
	text-decoration: line-through;
}

.banner__info__offer {
	font-size: 1.5rem;
	font-weight: bold;
}

.ingredients {
	margin-top: 1rem;
	gap: 0.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.ingredient {
	text-align: center;
	border: 1px solid var(--text-100);
	border-radius: 5px;
	display: grid;
	place-items: center;
	padding: 5px;
}

.banner__options {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}

.banner__options__btn {
	padding: 1rem;
	width: 100%;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.btn__showmore {
	font-weight: bold;
	color: var(--text-100);
	background-color: var(--primary-100);
}

.btn__order {
	font-weight: bold;
	color: var(--primary-100);
	background-color: var(--text-100);
}
