.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 1rem;
	background-color: var(--bg-200);
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.card__img {
	border-radius: 0.5rem;
	overflow: hidden;
}
