.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 1rem;
	background-color: var(--bg-200);
	padding: 0.5rem;
	border-radius: 0.5rem;
	animation: animationCard 1s ease-in-out;
}

.card__img {
	border-radius: 0.5rem;
	overflow: hidden;
}

@keyframes animationCard {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
